.toolbar {
	width: 100%;
	background-color: #1F2833;
	height: 10vh;
	max-height: 100px;
	position: relative;
	margin-right: 20px;
	border-radius: 20px;
}


.proj1 {
	background-color: #1F2833;
	width: 20vw;
	min-width: 300px;
	margin: auto;
	border-radius: 20px;
}

.proj1 h1 {
	color: white;
	text-align: center;
	font-size: xx-large;
}

#resources {
	text-decoration: none;
	color: #C5C6C7;
}

#home {
	text-decoration: none;
	color: #C5C6C7;
}

#discord {
	text-decoration: none;
	color: #C5C6C7;
}

#home:hover {
	-webkit-transition: color 1s ease-in;
	color: #45A29E;
	cursor: default;
}

#discord:hover {
	-webkit-transition: color 1s ease-in;
	color: #45A29E;
	cursor: default;
}

#resources:hover {
	-webkit-transition: color 1s ease-in;
	color: #45A29E;
	cursor: default;
}

* {
	font-family: Verdana;
}

.proj1 p {
	font-size: large;
	text-align: center;
	color: white;
	padding-bottom: 5%;
	font-family: Verdana;
}

.proj1 img {
	z-index: -1;
	width: 100%;
	height: 100%;
}

body {
	background-color: #0B0C10;
}

.proj1 img:hover {
	-webkit-transition: all .5s ease-in;
	-webkit-filter: brightness(70%);
}

.toolbar img {
	display: inline-block;
	width: 5vh;
	border-radius: 20px;
	margin-left: 20px;
	min-height: 5vh;
	width: 5vh;
	min-width: 5vh;
	margin-top: 15px;
}

.title {
	font-family: 'Minecraft', sans-serif;
	color: #C5C6C7;
	text-align: center;
	font-size: 10vw;
}

.toolbar ul {
	bottom: 20%;
	width: 50vw;
	padding-left: 2vw;
	min-width: 350px;
	position: relative;
	display: inline;
}

.toolbar ul li {
	margin-left: 1vw;
	-webkit-transition: color 1s ease-out;
	color: #C5C6C7;
	display: inline-block;
	padding-left: 2%;
	font-size:calc(16px + 1.5vw);
	font-family: Verdana;
}

.footer {
	margin-top: 15vh;
}

.credits {
	color: white;
	font-weight: bold;
	text-align: center;
}



/*
Scrollbar Handling
*/

/* width */
::-webkit-scrollbar {
	width: .75vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #0B0C10; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #555; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #45A29E; 
  }